/*.profile__title::after {
	content: ""; 
	width: 3px;
	height: 3px;
	background: url('../pathToIcon');
}*/


@font-face {
    font-family: LucidaGrande;
    src: url(../fonts/lucida_grande.ttf);
}

body {
	background: url(../img/main_fon.jpg) top center no-repeat;
	background-size: cover; 
	font-size: 12px;
	font-family: LucidaGrande;
	color: #535352;
}

.wrapper {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 0 50px;
	box-sizing: border-box;
}
.clear {
	clear: both;
}
.header__logo {
	float: left;
	margin: 14px auto;
}
.header__search {
	float: right;
}
.header__profile {
	float: right;
}
.footer__logo {
	float: left;
	margin-right: 35px;
	margin-top: 15px;
}
.menu__item {
	float: left;
	margin-right: 25px;
	margin-top:20px;
	list-style-type: none;
}
.menu__link {
	color: white;
	text-decoration: none;
}
.category__item {
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 18px;
}
.header__top {
	background: rgba(0,0,0, 0.6);
	min-height: 52px;
}
.search__button {
	background: url(../img/search_button.png) center;
	border: 0;
    height: 28px;
    width: 30px;
    margin: 13px auto;
    margin-left: -.36em;
}

.search__region {
	background-image: url(../img/search_icon.png);
	background-repeat: no-repeat;
	background-position: 4px;
	padding-left: 30px;
	height: 26px;
	width: 112px;
	border: 0;
	margin: 13px auto;
	margin-left: -.36em;
}
.search__input {
	background-image: url(../img/search_icon.png);
	background-repeat: no-repeat;
	background-position: 4px;
	padding-left: 25px;
	width: 264px;
	height: 26px;
	border: 0;
}
.profile__title {
	color: #FFFFFF;
	display: block;
	float: left;
	margin-top: 20px;
}
.profile__icon img{
	margin-left: 5px;
	margin-top: 22px;
}
.profile__image {
	margin: 0;
	margin-left: 15px;
	margin-top: 10px;
	display: block;
	float: left;
}

.header__title {
	height: 70px;
	margin-top: 25px;
	font-size: 26pt;
}
.header__btn {
	background-image: url(../img/btn_icon.png);
	background-repeat: no-repeat;
	background-position: 4px;
	background-color: #3CB371;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
    height:100px;
    width:170px;
    font-size: 13pt;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;

}
.header__bottom {
	height: 152px;
}
.content {
	/*height: 315px;*/
	padding-top: 10px;
	padding-bottom: 30px;
}
.footer__top {
	padding-top: 20px;
	min-height: 80px;
}
.footer__title {
	float: left;
	/*margin-top: 10px; */
	font-size: 16pt;
	margin-right: 25px;
	/*margin-top:10px;
	margin-bottom:20px;*/
}
.footer__btn {
	float: right;
	margin-left: 35px;
	margin-top:20px;
	margin-bottom:10px;
}

.btn__icon__footer {
	background-image: url(../img/btn_icon.png);
	background-repeat: no-repeat;
	background-position: 4px;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	height: 100px;
	width: 170px;
	font-size: 13pt;
	color: white;
    text-align: center;
    text-decoration: none;
    border: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 7px;
}
.footer__info {
	float: left;
	width: 400px;
	font-size: 9pt;
	margin-top:10px;
}
.footer__bottom {
	background: #3CB371;
	padding-bottom: 10px;
}
main {
	background: rgba(255,255,255, 0.8);
}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .search__button {
    	height: 29px;
    	padding-bottom: 11px;
    } 
}


@media (min-width: 792px) and (max-width: 991px) {
	.header__search, .header__profile {
		float: left;
		margin-left: 10px;
	}
	.category__item {
		width: 33%;
	}
	.footer__btn {
		float: none;
	}
	.footer__info {
		width: 50%;
	}
	.footer__top {
		padding-bottom: 10px;
	}
}

@media (max-width: 792px) {
	.header__top {
		height: 100px;
	}
	.header__logo {
		margin-bottom: 5px;
	}
	.header__search {
		float: left;
		margin-left: 0;
	}
	.header__profile {
		float: none;
		margin-left: 10px;
	}
	.category__item {
		width: 33%;
	}
	.footer__btn {
		float: none;
	}
	.footer__bottom {
		min-height: 100px;
		padding-bottom: 20px;
	}
	.footer__logo {
		float: none;
		text-align: center;
		margin-right: 35px;
		padding-top:40px;
	}
	.footer__info {
		width: 100%;
		margin-top: 30px;
	}
	.footer__top {
		min-height: 95px;
	}
	.wrapper {
		padding: 0 10px;
	}
}

@media (max-width: 489px) {
	.search__region {
		display: none;
	}
	.category__item {
		width: 50%;
	}
	.wrapper {
		padding: 0 10px;
	}
}